<header class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container">
    <div id="logo" class="navbar-brand"><%= link_to "Просто об SQL", root_path %></div>
    <nav class="collapse navbar-collapse navbar-exit-collapse">
        <ul class="nav navbar-nav navbar-center">
           <li><%= link_to 'Статьи', root_path %></li>
           <li><%= link_to 'О проекте', about_path %></li>
           <li><%= link_to 'Помощь', help_path %></li>
        </ul>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to current_user.username , edit_user_registration_path %></li>
            <li><%= link_to 'Выход', destroy_user_session_path, :method => :delete %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Регистрация', new_user_registration_path %></li>
            <li><%= link_to 'Вход', new_user_session_path %></li>
          </ul>
        <% end %>  
    </nav>
    </div>
  </div> <!-- /.container-fluid -->
</header>